.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .con {
    position: absolute;
    bottom: 2.4rem;
    display: flex;
    gap: 1rem;

    button {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: solid 1px rgba(245, 245, 245, 0.784);
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: rgba(255, 255, 255, 0.178);
      display: flex;
      justify-content: center;
      align-items: center;
      .i {
        width: 2rem;
        color: rgb(12, 33, 33);
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.396);
        .i {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
